body{
	background-color: #454d55;
	font-size:11px;
}
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}
.myLi{
	margin-left:15px;
	margin-right:15px;
}
.table-container{
	height:480px;
	overflow: scroll;
	overflow-x: hidden;
	width: 100%;
}
.mySubmit{
	padding-left: 35px;
	padding-top: 10px;
}
.mySubmit a{
	width:150px;
}
th{
	position: sticky;
	top: 0;
	background: #212529;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
.prestadores{
	width: 20%;
}
.select2{

	width: 97%;
}
footer{
	position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;				    
  color: white;
  padding: 10px;
}

.list-group-submenu .list-group-item:first-child {
     border-top-right-radius: 0;
     border-top-left-radius: 0;
}

.list-group-submenu .list-group-item:last-child {
     margin-bottom: -1px;
     border-bottom-right-radius: 0;
     border-bottom-left-radius: 0;
}

#container{
	background-color: #f1f1f1;
font-size:16px;
}
.table-condensed{
  font-size: 10px !important; 
}
.list-group-item.active{
	border: 1px solid transparent
}
.list-group-item-crimson{
	background-color: #721c24 !important ;
}
.list-group-item-dark.darker{
	background-color: #5a636b !important ;
}
.list-group-item-dark.darker:hover{
	background-color: #5a618b !important ;
}


.list-group-item-dark.sub-item.darker{
	background-color: #454d55 !important ;
}
.list-group-item-dark.sub-item.darker:hover{
	background-color: #5a618b !important ;
}